body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* parent container */
.hero {
  background-color: #1f2937;
  padding: 0 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

/* child .hero / parent container */
.header {
  display: flex;
  justify-content: space-between;
  flex: 0;
  align-items: center;
  margin-top: 24px;
}

/* child .hero / parent container */
.sub-hero {
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

/* child .sub-hero / parent container */
.main-image {
  margin-left: 36px;
}

.main-image  img {
  width: 400px;
  height: auto;
}

/* child of .header */
.logo {
  font-size: 24px;
  color: #f9faf8;
  min-width: 254px;
}

/* ul - child of .header*/
.links {
  display: flex;
  justify-content: flex-end;
  min-width: 305px;
  margin-left: 36px;
  gap: 24px;
}

/* child of .header */
.hero-text {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

/* parent container */
.information {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin-bottom: 100px;
}

/* stand-alone but part of information panel */
.info-header {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 36px 0;
  align-self: center;
}

/* child of .information */
.info {
  max-width: 180px;
  text-align: center;
}

.info img {
  border-radius: 8px;
  border: 3px solid #3882f6;
  
}

/* parent container */
.quote {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: auto;
  padding: 80px 400px;
}

.quote .text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  min-width: 800px;
}

/* child .quote */
.sign-off {
  align-self: flex-end;
  font-size: 20px;
  font-weight: 600;
  min-width: 310px;
}

/* parent container */
.action {
  background-color: #3882f6;
  margin: 84px 200px;
  padding: 36px 96px;
  border-radius: 4px;
  min-width: 550px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

/* child of .action */
.call-to-action {
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.call-to-action .howto-action {
  font-weight: 300;
  font-size: 16px;
}

/* call to action button */
.action .signup {
  border: 2px solid white;
}

/* parent container */
.footer {
  background-color: #1f2937;
  padding: 32px 0;
  color: white;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 180px;
  height: auto;
}

a {
  text-decoration: none;
}

a, .hero-subtext, .howto-action {
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background-color: #3882f6;
  border: 2px none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  margin-top: 8px;
  padding: 8px 36px;
}